.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 0;
  padding: 0 2rem;
  max-width: 1000px;
  margin-inline: auto;
}

.headingTitle {
  margin: 1.5rem 0 3rem;
  text-align: center;
  font-size: clamp(2rem, 0.118rem + 9.41vw, 6rem);
}

.mainContents {
  display: grid;
  row-gap: 1rem;
  text-align: center;
  label {
    display: block;
    font-size: clamp(1.5rem, 0.324rem + 5.88vw, 4rem);
  }
  input {
    width: min(50%, 5rem);
    margin-inline: auto;
    font-size: 2rem;
    text-align: center;
  }
}

.btnContents {
  margin: 3rem 0;
}
